$color: steelblue;
$font-size: 2rem;


.my-flix {
  color: $color;
  font-size: $font-size;
}

.main-view {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 50px;

}

.movie-card {
  text-align: center;
}

// solution to load image path in scc
/* .movie-poster {
  background-image: url("../public/inception.jpeg");
} */